.appContainer {

}

.demoList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.demoItem {
    margin-bottom: 16px;
}

.demoDialog {
    border-radius: 3px;
    background-color: #ffffff;
}
